fastapi
uvicorn[standard]
python-dotenv
pydantic
pyyaml
numpy<2.0

langchain
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
openai

